.boton {
  border: none;
  min-height: 40px;
  min-width: 100px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px;
  padding: 3px 12px;
  cursor: pointer;
  color: #fff;
  background-color: #c2c2c2;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
}

.boton--rojo {
  background-color: rgb(255, 69, 69);
}

.boton--azul {
  background-color: #007bff;
}

.boton--verde {
  background-color: #41bf5e;
}

.boton--colorPrincipal {
  background-color: #197364;
  height: 45px;
}

.boton--space-bet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boton--grande {
  height: 100px;
  padding: 30px 0;
  font-size: 1.5rem;
} 

.boton-txt-mainColor {
  color: #197364;
}

.boton--borde-mainColor {
  border: 2px dashed #197364;
  border-radius: 10px;
}

.boton--none-bg {
  background-color: transparent;
}