.boton {
  border: none;
  min-height: 40px;
  min-width: 100px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px;
  padding: 3px 12px;
  cursor: pointer;
  color: var(--blanco);
  background-color: var(--color-gris-fondo);
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
}

.boton--rojo {
  background-color: var(--rojo);
}

.boton--azul {
  background-color: var(--azul);
}

.boton--verde {
  background-color: var(--verde);
}

.boton--colorPrincipal {
  background-color: var(--color-principal);
  height: 45px;
}

.boton--space-bet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boton--grande {
  height: 100px;
  padding: 30px 0;
  font-size: 1.5rem;
} 

.boton-txt-mainColor {
  color: var(--color-principal);
}

.boton--borde-mainColor {
  border: 2px dashed var(--color-principal);
  border-radius: 10px;
}

.boton--none-bg {
  background-color: transparent;
}

.boton--auto-heigth {
  min-height: auto;
}