.movimiento-resumen {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  border-radius: 12px;
  color: var(--blanco);
  gap: 16px;
  width: 100%;
  box-shadow: 0 4px 8px var(--color-sombra);
  background-color: var(--color-default-card-movimiento);
}

.movimiento-resumen__icono {
  font-size: 3vw;
}

.movimiento-resumen__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.movimiento-resumen__titulo {
  font-size: 1.1vw;
  font-weight: 500;
  margin: 0;
  text-transform: capitalize;
}

.movimiento-resumen__monto {
  font-size: 1.5vw;
  font-weight: bold;
  margin: 0;
}