/* Componente base */
.tile {
  background: var(--blanco);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px var(--color-sombra);
  border: 2px solid var(--color-meta);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.tile:hover {
  transform: translateY(-4px);
  border-color: var(--color-principal);
  z-index: 1001;
}

.tile__info {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 80%;
}

.tile__icon-box {
  width: 55px;
  height: 55px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gris-fondo);
}

.tile__icon {
  font-size: 25px;
}

.tile__content {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.tile__title {
  font-size: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
  text-overflow: ellipsis;
  color: var(--color-titulo-tile);
}

.tile__description {
  font-size: 1rem;
  color: var(--color-description-tile);
  font-weight: bold;
}

.tile__monto {
  font-size: 1.3rem;
  font-weight: 700;
}