<section class="auth">
    <div class="branding">
        <img src="./img/logo-proyecto-blanco.png" alt="Logo" class="branding__image">
        <p class="branding__title">wealthy wellness</p>
    </div>


  <div class="auth__content">
    <form autocomplete="off" novalidate class="form form--register"> 
        <h4 class="form__title">Registro</h4>
        
        <div class="form__row">
            <div class="form__field">
            <label class="form__label" for="nombre">Nombre:</label>
            <input type="text" name="first_name" id="nombre" class="form__input" required>
            </div>
            
            <div class="form__field">
            <label class="form__label" for="apellido">Apellido:</label>
            <input required type="text" name="last_name" id="apellido" class="form__input">
            </div>
        </div>
        
        <div class="form__row">
            <div class="form__field form__field--selector">
            <label class="form__label" for="genero">Género:</label>
            <select name="gender_id" id="genero" class="form__input selector" required>
            </select>
            <i class="ri-arrow-down-s-line selector__icon"></i>
            </div>

            <div class="form__field form__field--selector">
            <label class="form__label" for="ciudad">Ciudad:</label>
            <select name="city_id" id="ciudad" class="form__input selector" required>
            </select>
            <i class="ri-arrow-down-s-line selector__icon"></i>
            </div>
        </div>
        
        <div class="form__row">
            <div class="form__field">
            <label class="form__label" for="correo">Correo:</label>
            <input required type="email" name="email" id="correo" class="form__input">
            </div>
            <div class="form__field">
                <label class="form__label" for="contrasena">Contraseña:</label>
                <input required type="password" name="password" id="contrasena" class="form__input">
            </div>
        </div>
<!--         
        <div class="form__row">
            <div class="form__field">
            <label class="form__label" for="confirmar_contrasena">Confirmar contraseña:</label>
            <input required type="password" name="confirmar_contrasena" id="confirmar_contrasena" class="form__input">
            </div>
        </div> -->
        
        <button type="submit" class="form__button form__button--register" id="registrar">Registrarse</button>
        
        <div class="form__footer">
            <p class="form__text">¿Ya tienes cuenta?</p>
            <a href="#/login" class="form__link">Iniciar Sesión</a>
        </div>
    </form>
  </div>
</section>