<div class="modal-header">
  <h2 class="modal-header__title">Crear Meta</h2>
  <div class="modal-exit modal-exit--metas">
    <i class="ri-close-fill modal-exit__icon"></i>
  </div>
</div>

<div class="modal-body">
  <form class="form form--modal" id="form-nuevaMeta">
    <div class="form__row">
      <div class="form__field">
        <label class="form__label">Nombre:</label>
        <input type="text" class="form__input" name="nombre" required id="nombreMeta">
      </div>
    </div>
    
    <div class="form__row">
      <div class="form__field">
        <label class="form__label">Total a ahorrar:</label>
        <input type="text" class="form__input" name="monto" required id="montoMeta">
      </div>
      <div class="form__field">
        <label class="form__label">Fecha Límite(opcional):</label>
        <input type="date" class="form__input">
      </div>
    </div>

    <div class="form__row">
      <div class="form__field">
        <label class="form__label">Descripción:</label>
        <textarea rows="4" class="form__input form__input--textarea" name="descripcion" required id="descripcionMeta"></textarea>
      </div>
    </div>

    <div class="form__buttons">
      <button class="boton boton--verde" id="btnCrearMeta">Crear</button>
    </div>
  </form>
</div>