<div class="modal-header">
  <h2 class="modal-header__title">Aporte</h2>
  <div class="modal-exit modal-exit--metas">
    <i class="ri-close-fill modal-exit__icon"></i>
  </div>
</div>

<div class="modal-body">
  <form class="form form--modal" id="form-detallesAporte" novalidate autocomplete="off">
    <div class="form__row">
      <div class="form__field">
        <label class="form__label">Monto:</label>
        <input type="text" class="form__input" required name="monto" id="montoAporte">
      </div>
      <div class="form__field">
        <label class="form__label">Fecha Creación:</label>
        <input type="date" class="form__input" readonly name="fecha_creacion">
      </div>
    </div>

    <div class="form__row">
      <div class="form__field">
        <label class="form__label">Descripción:</label>
        <textarea rows="4" class="form__input form__input--textarea" name="descripcion" id="descripcionAporte"></textarea>
      </div>
    </div>

    <div class="form__buttons">
      <button class="boton boton--azul" id="editarAporte" type="button">Editar</button>
      <button class="boton boton--rojo" id="eliminarAporte" type="button">Eliminar</button>
    </div>
  </form>
</div>