<div class="modal-header">
  <h2 class="modal-header__title">Meta</h2>
  <div class="modal-exit modal-exit--metas">
    <i class="ri-close-fill modal-exit__icon"></i>
  </div>
</div>

<div class="modal-body">
  <form class="form form--modal" id="form-detallesMeta">
    <div class="form__row">
      <div class="form__field">
        <label class="form__label">Nombre:</label>
        <input type="text" class="form__input" name="nombre" required id="nombreMeta">
      </div>
      <div class="form__field">
        <label class="form__label">Estado:</label>
        <input type="text" class="form__input" name="estado" readonly>
      </div>
    </div>
    
    <div class="form__row">
      <div class="form__field">
        <label class="form__label">Fecha Creación:</label>
        <input type="date" class="form__input" name="fecha_creacion" readonly>
      </div>
      <div class="form__field">
        <label class="form__label">Fecha Límite (opcional):</label>
        <input type="date" class="form__input" name="fecha_limite">
      </div>
    </div>

    <div class="form__row">
      <div class="form__field">
        <label class="form__label">Total a ahorrar:</label>
        <input type="text" class="form__input" name="monto" required id="montoMeta">
      </div>
      <div class="form__field">
        <label class="form__label">Total ahorrado:</label>
        <input type="text" class="form__input" name="total" readonly>
      </div>
    </div>

    <div class="form__row">
      <div class="form__field">
        <label class="form__label">Descripción:</label>
        <textarea rows="4" class="form__input form__input--textarea" name="descripcion" required id="descripcionMeta"></textarea>
      </div>
    </div>

    <div class="form__buttons">
      <button class="boton boton--azul" type="button" id="editarMeta">Editar</button>
      <button class="boton boton--rojo" type="button" id="eliminarMeta">Eliminar</button>
    </div>
  </form>
  <button type="button" class="boton boton--colorPrincipal boton--space-bet" id="verAportes">
    Aportes
    <span class="cant-aportes"></span>
  </button>
</div>