<div class="modal-header">
  <h2 class="modal-header__title">Aporte</h2>
  <div class="modal-exit modal-exit--metas">
    <i class="ri-close-fill modal-exit__icon"></i>
  </div>
</div>

<div class="modal-body">
  <form class="form form--modal">
    <div class="form__row">
      <div class="form__field">
        <label class="form__label">Monto:</label>
        <input type="text" class="form__input">
      </div>
      <div class="form__field">
        <label class="form__label">Fecha Creación:</label>
        <input type="date" class="form__input">
      </div>
    </div>

    <div class="form__row">
      <div class="form__field">
        <label class="form__label">Descripción:</label>
        <textarea rows="4" class="form__input form__input--textarea"></textarea>
      </div>
    </div>

    <div class="form__buttons">
      <button class="boton boton--azul">Editar</button>
      <button class="boton boton--rojo">Eliminar</button>
    </div>
  </form>
</div>