<div class="modal-header">
  <h2 class="modal-header__title">Editar Usuario</h2>
  <div class="modal-exit modal-exit--usuario">
    <i class="ri-close-fill modal-exit__icon"></i>
  </div>
</div>

<div class="modal-body">
  <form class="form form--modal" id="form-editUser" autocomplete="off" novalidate>
    <div class="form__row">
      <div class="form__field">
        <label class="form__label">Nombre:</label>
        <input type="text" class="form__input" name="nombre" required id="nombre">
      </div>
      <div class="form__field">
        <label class="form__label">Apellido:</label>
        <input type="text" class="form__input" name="apellido" required id="apellido">
      </div>
    </div>
    
    <div class="form__row">
      <div class="form__field form__field--selector">
        <label class="form__label">Género:</label>
        <select class="form__input" name="genero_id" required id="genero">
        </select>
      </div>
      <div class="form__field form__field--selector">
        <label class="form__label">Ciudad:</label>
        <select class="form__input selector" required name="ciudad_id" id="ciudad">
        </select>
      </div>
    </div>

    <div class="form__row">
      <div class="form__field form__field--selector">
        <label class="form__label">Rol:</label>
        <select class="form__input" name="rol_id" required id="rol">
        </select>
      </div>
      <div class="form__field form__field--selector">
        <label class="form__label">Estado:</label>
        <select class="form__input selector" required name="estado_id" id="estado">
        </select>
      </div>
    </div>

    <div class="form__row">
      <div class="form__field">
        <label class="form__label">Correo:</label>
        <input type="text" class="form__input" name="correo" id="correo" required>
      </div>
      <div class="form__field">
        <label class="form__label">Contraseña:</label>
        <input type="password" class="form__input" name="contrasena" id="contrasena">
      </div>
    </div>

    <div class="form__buttons">
      <button class="boton boton--azul" id="guardarEdicion">Guardar</button>
    </div>
  </form>
</div>