<div class="modal-header">
  <h2 class="modal-header__title">Movimientos</h2>
  <div class="modal-exit modal-exit--calendario">
    <i class="ri-close-fill modal-exit__icon"></i>
  </div>
</div>

<div class="modal-body">
      <div class="tile-container tile-container--modal">
          <button type="button" class="boton boton-txt-mainColor boton--grande boton--borde-mainColor" id="registarMovimiento">Registrar Nuevo</button>
          <div class="tile tile--movimientoCalendario">
              <div class="tile__info">
                  <div class="tile__icon-box tile__icon-box--ingresos">
                  <i class="ri-briefcase-line tile__icon tile__icon--ingresos"></i>
                  </div>
                  <div class="tile__content">
                  <span class="tile__title">Salario</span>
                  <span class="tile__description">2 movimientos</span>
                  </div>
              </div>
              <span class="tile__monto tile__monto--ingresos">$ 3.200.000</span>
          </div>
      
          <div class="tile tile--movimientoCalendario">
              <div class="tile__info">
                  <div class="tile__icon-box tile__icon-box--inversiones">
                  <i class="ri-line-chart-line tile__icon tile__icon--inversiones"></i>
                  </div>
                  <div class="tile__content">
                  <span class="tile__title">Inversiones</span>
                  <span class="tile__description">4 movimientos</span>
                  </div>
              </div>
              <span class="tile__monto tile__monto--inversiones">$ 850.000</span>
          </div>
      
          <div class="tile tile--movimientoCalendario">
              <div class="tile__info">
                  <div class="tile__icon-box tile__icon-box--inversiones">
                  <i class="ri-line-chart-line tile__icon tile__icon--inversiones"></i>
                  </div>
                  <div class="tile__content">
                  <span class="tile__title">Inversiones</span>
                  <span class="tile__description">4 movimientos</span>
                  </div>
              </div>
              <span class="tile__monto tile__monto--inversiones">$ 850.000</span>
          </div>
      
          <div class="tile tile--movimientoCalendario">
              <div class="tile__info">
                  <div class="tile__icon-box tile__icon-box--inversiones">
                  <i class="ri-line-chart-line tile__icon tile__icon--inversiones"></i>
                  </div>
                  <div class="tile__content">
                  <span class="tile__title">Inversiones</span>
                  <span class="tile__description">4 movimientos</span>
                  </div>
              </div>
              <span class="tile__monto tile__monto--inversiones">$ 850.000</span>
          </div>
      
          <div class="tile tile--movimientoCalendario">
              <div class="tile__info">
                  <div class="tile__icon-box tile__icon-box--inversiones">
                  <i class="ri-line-chart-line tile__icon tile__icon--inversiones"></i>
                  </div>
                  <div class="tile__content">
                  <span class="tile__title">Inversiones</span>
                  <span class="tile__description">4 movimientos</span>
                  </div>
              </div>
              <span class="tile__monto tile__monto--inversiones">$ 850.000</span>
          </div>
      
          <div class="tile tile--movimientoCalendario">
              <div class="tile__info">
                  <div class="tile__icon-box tile__icon-box--inversiones">
                  <i class="ri-line-chart-line tile__icon tile__icon--inversiones"></i>
                  </div>
                  <div class="tile__content">
                  <span class="tile__title">Inversiones</span>
                  <span class="tile__description">4 movimientos</span>
                  </div>
              </div>
              <span class="tile__monto tile__monto--inversiones">$ 850.000</span>
          </div>
      
          <div class="tile tile--movimientoCalendario">
              <div class="tile__info">
                  <div class="tile__icon-box tile__icon-box--inversiones">
                  <i class="ri-line-chart-line tile__icon tile__icon--inversiones"></i>
                  </div>
                  <div class="tile__content">
                  <span class="tile__title">Inversiones</span>
                  <span class="tile__description">4 movimientos</span>
                  </div>
              </div>
              <span class="tile__monto tile__monto--inversiones">$ 850.000</span>
          </div>
      </div>
</div>
