<section class="container">

    <div class="section-header">
        <h1 class="section-header__title">Calendario</h1>
        <p class="section-header__description">Apartado para visualizar el calendario de movimientos.</p>
    </div>

    <div class="container-calendario">
        <div class="calendario" id="calendario"></div>

        <div class="informacion--calendario">
            <div class="movimiento-resumen movimiento-resumen--ingresos">
                <i class="ri-arrow-up-circle-line movimiento-resumen__icono"></i>
                <div class="movimiento-resumen__info">
                    <h3 class="movimiento-resumen__titulo">Ingresos</h3>
                    <p class="movimiento-resumen__monto">$1.500.000</p>
                </div>
            </div>
            <div class="movimiento-resumen movimiento-resumen--gastos">
                <i class="ri-arrow-up-circle-line movimiento-resumen__icono"></i>
                <div class="movimiento-resumen__info">
                    <h3 class="movimiento-resumen__titulo">Ingresos</h3>
                    <p class="movimiento-resumen__monto">$1.500.000</p>
                </div>
            </div>
            <div class="movimiento-resumen movimiento-resumen--metas">
                <i class="ri-arrow-up-circle-line movimiento-resumen__icono"></i>
                <div class="movimiento-resumen__info">
                    <h3 class="movimiento-resumen__titulo">Ingresos</h3>
                    <p class="movimiento-resumen__monto">$1.500.000</p>
                </div>
            </div>
            <div class="movimiento-resumen movimiento-resumen--balance">
                <i class="ri-arrow-up-circle-line movimiento-resumen__icono"></i>
                <div class="movimiento-resumen__info">
                    <h3 class="movimiento-resumen__titulo">Ingresos</h3>
                    <p class="movimiento-resumen__monto">$1.500.000</p>
                </div>
            </div>
        </div>
    </div>

    <dialog id="modal-cita"></dialog>

</section>