<nav class="sidebar-nav" aria-label="Navegación principal">
    <ul class="sidebar-items">
        <li>
            <a href="#/super_admin/inicio" class="sidebar-items__item sidebar-items__item--inicio">
                <i class="ri-home-3-line sidebar-items__icon"></i>
                <span class="sidebar-items__texto">Inicio</span>
            </a>
        </li>
        
        <li>
            <a href="#/super_admin/usuarios" class="sidebar-items__item">
            <i class="ri-bar-chart-box-line sidebar-items__icon"></i>
            <span class="sidebar-items__texto">Usuarios</span>
            </a>
        </li>
        
        <li>
            <a href="#/super_admin/ciudades" class="sidebar-items__item">
            <i class="ri-bar-chart-box-line sidebar-items__icon"></i>
            <span class="sidebar-items__texto">Ciudades</span>
            </a>
        </li>
        
        <li>
            <a href="#/super_admin/generos" class="sidebar-items__item">
            <i class="ri-bar-chart-box-line sidebar-items__icon"></i>
            <span class="sidebar-items__texto">Géneros</span>
            </a>
        </li>

        <li>
            <a href="#/super_admin/colores" class="sidebar-items__item">
            <i class="ri-bar-chart-box-line sidebar-items__icon"></i>
            <span class="sidebar-items__texto">Colores</span>
            </a>
        </li>

        <li>
            <a href="#/super_admin/estados" class="sidebar-items__item">
            <i class="ri-bar-chart-box-line sidebar-items__icon"></i>
            <span class="sidebar-items__texto">Estados</span>
            </a>
        </li>

        <li>
            <a href="#/super_admin/estados_metas" class="sidebar-items__item">
            <i class="ri-bar-chart-box-line sidebar-items__icon"></i>
            <span class="sidebar-items__texto">Estados Metas</span>
            </a>
        </li>
        
        <li>
            <a href="#/super_admin/tipos_movimientos" class="sidebar-items__item">
            <i class="ri-bar-chart-box-line sidebar-items__icon"></i>
            <span class="sidebar-items__texto">Tipos Mov.</span>
            </a>
        </li>
        
        <li>
            <a href="#/super_admin/tipos_movimientos_meta" class="sidebar-items__item">
            <i class="ri-bar-chart-box-line sidebar-items__icon"></i>
            <span class="sidebar-items__texto">Tipos Mov. Me.</span>
            </a>
        </li>
        
        <li>
            <a href="#/super_admin/categorias" class="sidebar-items__item">
            <i class="ri-bar-chart-box-line sidebar-items__icon"></i>
            <span class="sidebar-items__texto">Categorias</span>
            </a>
        </li>
        
        <li>
            <a href="#/super_admin/roles" class="sidebar-items__item">
            <i class="ri-bar-chart-box-line sidebar-items__icon"></i>
            <span class="sidebar-items__texto">Roles</span>
            </a>
        </li>
        
        <li>
            <a href="#/super_admin/permisos" class="sidebar-items__item">
            <i class="ri-bar-chart-box-line sidebar-items__icon"></i>
            <span class="sidebar-items__texto">Permisos</span>
            </a>
        </li>
    </ul>

</nav>