<section class="auth">
  <div class="branding">
    <img src="./img/logo-proyecto-blanco.png" alt="Logo" class="branding__image">
    <p class="branding__title">wealthy wellness</p>
  </div>


  <div class="auth__content">
    <form class="form form--login" id="form-login" autocomplete="off" novalidate> 
      <h4 class="form__title">Iniciar Sesión</h4>

      <div class="form__row">
        <div class="form__field">
          <label class="form__label" for="email">Correo:</label>
          <input type="email" name="correo" id="correo" class="form__input" required>
        </div>
      </div>

      <div class="form__row">
        <div class="form__field">
          <label class="form__label" for="contrasena">Contraseña:</label>
          <input type="password" name="contrasena" id="contrasena" class="form__input" required>
        </div>
      </div>

      <button type="submit" class="form__button" id="login">Iniciar Sesión</button>

      <div class="form__footer">
        <p class="form__text">¿Aún no tienes cuenta?</p>
        <a href="#/register" class="form__link">Registrarse</a>
      </div>
    </form>
  </div>
</section>