<section class="container">

     <button class="nuevo" id="nuevaMeta"> 
        <i class="ri-add-line nuevo__icono"></i>
    </button>

    <div class="section-header">
        <h1 class="section-header__title">Metas</h1>
        <p class="section-header__description">Apartado para visualizar las metas registradas.</p>
    </div>

    <div class="container-metas">
        <div class="meta">
            <div class="meta__informacion">
                <div class="meta__title">Ahorro moto</div>
                  
                <div class="meta__row">
                    <p class="meta__text">Meta:</p>
                    <p class="meta__monto">$15.000.000</p>
                </div>
                  
                <!-- Solo mostrar si hay fecha -->
                <div class="meta__row meta__row--flexible">
                    <span>Fecha límite: Dic 2025</span>
                </div>
              
                <div class="meta__grafico">
                    <div class="meta__progreso-info">
                        <span class="meta__ahorrado">$7.000.000</span>
                        <span class="meta__porcentaje">47%</span>
                    </div>
                    <progress class="meta__progreso" max="15000000" value="7000000"></progress>
                    <div class="meta__sugerencia">
                        Ahorra $1.200.000/mes para llegar
                    </div>
                </div>
            </div>
        </div>
        <div class="meta">
            <div class="meta__informacion">
                <div class="meta__title">Ahorro moto</div>
                  
                <div class="meta__row">
                    <p class="meta__text">Meta:</p>
                    <p class="meta__monto">$15.000.000</p>
                </div>
                  
                <!-- Solo mostrar si hay fecha -->
                <div class="meta__row meta__row--flexible">
                    <span>Fecha límite: Dic 2025</span>
                </div>
              
                <div class="meta__grafico">
                    <div class="meta__progreso-info">
                        <span class="meta__ahorrado">$7.000.000</span>
                        <span class="meta__porcentaje">47%</span>
                    </div>
                    <progress class="meta__progreso" max="15000000" value="7000000"></progress>
                    <div class="meta__sugerencia">
                        Ahorra $1.200.000/mes para llegar
                    </div>
                </div>
            </div>
        </div>
        <div class="meta">
            <div class="meta__informacion">
                <div class="meta__title">Ahorro moto</div>
                  
                <div class="meta__row">
                    <p class="meta__text">Meta:</p>
                    <p class="meta__monto">$15.000.000</p>
                </div>
                  
                <!-- Solo mostrar si hay fecha -->
                <div class="meta__row meta__row--flexible">
                    <span>Fecha límite: Dic 2025</span>
                </div>
              
                <div class="meta__grafico">
                    <div class="meta__progreso-info">
                        <span class="meta__ahorrado">$7.000.000</span>
                        <span class="meta__porcentaje">47%</span>
                    </div>
                    <progress class="meta__progreso" max="15000000" value="7000000"></progress>
                    <div class="meta__sugerencia">
                        Ahorra $1.200.000/mes para llegar
                    </div>
                </div>
            </div>
        </div>
        <div class="meta">
            <div class="meta__informacion">
                <div class="meta__title">Ahorro moto</div>
                  
                <div class="meta__row">
                    <p class="meta__text">Meta:</p>
                    <p class="meta__monto">$15.000.000</p>
                </div>
                  
                <!-- Solo mostrar si hay fecha -->
                <div class="meta__row meta__row--flexible">
                    <span>Fecha límite: Dic 2025</span>
                </div>
              
                <div class="meta__grafico">
                    <div class="meta__progreso-info">
                        <span class="meta__ahorrado">$7.000.000</span>
                        <span class="meta__porcentaje">47%</span>
                    </div>
                    <progress class="meta__progreso" max="15000000" value="7000000"></progress>
                    <div class="meta__sugerencia">
                        Ahorra $1.200.000/mes para llegar
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>