@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Holtwood+One+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ultra&display=swap');
@import url(./components/logo.css);
@import url(./components/form.css);
@import url(./components/selector.css);
@import url(./components/header.css);
@import url(./components/sidebar.css);
@import url(./components/movimientoResumen.css);
@import url(./components/tile.css);
@import url(./components/switchFilter.css);
@import url(./components/nuevoElemento.css);
@import url(./components/meta.css);
@import url(./components/adminInfoCard.css);
@import url(./components/tabla.css);
@import url(./components/boton.css);
@import url(./components/modal.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* ================= ESTILOS DEL FULLCALENDAR ================= */
:root {
    --fc-button-bg-color: #197364;
    --fc-button-hover-bg-color: #10453c;
    --fc-button-active-bg-color: #10453c;
    --fc-button-border-color: #197364;
    --fc-button-active-border-color: #10453c;
    --fc-button-hover-border-color: #10453c;
    --fc-today-bg-color: #19736436;
}


/* ================= AUTH ================= */
.auth {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  grid-template-areas: "logo formulario";
  position: relative;
  background-color: #197364;
}

.auth__content {
  grid-area: formulario;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ================= LAYOUT ================= */
.layout {
  /* background-color: #fff; */
  background-color: #eeeeeec5;
  display: grid;
  height: 100vh;
  /* width: 100vw; */
  grid-template-columns: 250px 1fr;
  grid-template-rows: 90px 1fr;

  grid-template-areas:
    'header  header'
    'sidebar content';
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  padding: 15px;
  padding-right: 0;
}

.app {
  grid-area: content;
  overflow-y: hidden;
}

/* ================= SCROLL ================= */
::-webkit-scrollbar {
  display: none;
}

/* ================= SECCION ================= */
.container {
  width: 100%;
  padding: 30px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  position: relative;
}

.invisible {
  display: none;
}

/* ================= ENCABEZADO DE LAS SECCIONES ================= */
.section-header__title {
  color: #197364;
}

.section-header__description {
  color: rgb(120, 120, 120);
  font-weight: 600;
}

/* ================= CONTENEDOR RESUMEN MOVIMIENTOS ================= */
.container-resumen {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.container-switch {
  align-self: center;
}

/* ================= CONTENEDOR TILES ================= */
.tile-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-top: 5px;
}

.tile-container--modal {
  height: 650px;
}

.elemento-vacio {
  color: #197364;
  font-size: 1.2rem;
  align-self: center;
}


/* ================= CONTENEDOR METAS ================= */
.metas-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  gap: 55px;
  padding-top: 5px;
  padding-bottom: 15px;
  overflow-y: scroll;
  height: max-content;
  justify-content: center;
}


/* ================= CONTENEDOR CALENDARIO ================= */
.container-calendario {
  display: flex;
  gap: 30px;
  height: 90%;
}

.calendario {
  width: 70%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

/* ================= CONTENEDOR HISTORIAL ================= */
.historial {
  width: 100%;
  display:flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
}

/* ================= FECHA ================= */
.fecha {
  color:rgb(120, 120, 120);
  font-weight: bold;
  font-size: 1.2rem;
}


/* ================= CONTENEDOR RESUMEN MOVIMIENTOS CALENDARIO ================= */

.informacion-calendario {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 30px 0;
}


.container-resumen-calendario {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 30px;
}

.fc-daygrid-more-link {
  pointer-events: none !important;
  cursor: default !important;
  color: gray; 
}
/* ================= CONTAINER VISTA ADMIN ================= */
.iformacion-admin {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* ================= CONTAINER TABLA ================= */
.container-table {
  margin-top: 20px;
  width: 100%;
  /* height: 74vh; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  overflow-y: scroll;
}

/* ================= TEXTO ROL SIDEBAR ================= */
.sidebar-role {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  color: #197364;
}



/* ================= PROFILE ================= */
.info-user {
  width: 100%;
  display:flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: scroll;
  padding: 10px 0;
}

.info-user-card {
  width: 100%;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display:flex;
  flex-direction: column;
  gap: 30px;
}

.info-user-card__title {
  color: #197364;
  font-size: 1.7rem;
}

.info-user-card__text {
  margin-top: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  opacity: 0.5;
}

.cant-aportes {
  background-color: #0b302a;
  height: 30px;
  width: 50px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}

@media (max-width: 1700px) {
  .container-resumen {
    gap: 16px;
    margin-bottom: 32px;
  }

    .movimiento-resumen {
    padding: 14px 20px;
    gap: 14px;
  }

  .movimiento-resumen__icono {
    font-size: 2.4rem;
  }

  .movimiento-resumen__titulo {
    font-size: 1.3rem;
  }

  .movimiento-resumen__monto {
    font-size: 1.8rem;
  }
}

@media (max-width: 1500px) {
  .container-resumen {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 18px;
    margin-bottom: 36px;
  }

  .movimiento-resumen {
    padding: 13px 18px;
    gap: 13px;
  }

  .movimiento-resumen__icono {
    font-size: 2.2rem;
  }

  .movimiento-resumen__titulo {
    font-size: 1.25rem;
  }

  .movimiento-resumen__monto {
    font-size: 1.7rem;
  }
}

@media (max-width: 1400px) {
  .container-resumen {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    margin-bottom: 32px;
  }

    .movimiento-resumen {
    padding: 12px 16px;
    gap: 12px;
  }

  .movimiento-resumen__icono {
    font-size: 2rem;
  }

  .movimiento-resumen__titulo {
    font-size: 1.2rem;
  }

  .movimiento-resumen__monto {
    font-size: 1.6rem;
  }
}

@media (max-width: 1350px) {
  .container-resumen {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 30px;
  }

  .container-calendario {
    flex-direction: column-reverse;
  }

  .calendario {
    height: 400px;
    width: 100%;
  }

  .informacion-calendario {
    flex-direction: column-reverse;
    padding-bottom: 10px;
    gap: 30px;
    width: 100%;
  }

  .container-resumen-calendario {
    flex-direction: row;
    height: max-content;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  .nuevo {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: 65px 1fr;
    grid-template-areas:
      'header'
      'content';
  }

  .sidebar {
    opacity: 0;
    position:absolute;
  }

  .app {
    overflow-y: auto;
  }

  .branding__image--header {
    width: 45px;
    height: 45px;
  }

  .nuevo {
    width: 65px;
    height: 65px;
  }
  .container-calendario {
    overflow-y: scroll;
    justify-content: center;
    padding-bottom: 45px;
  }
}

@media (max-width: 600px) {
  .profile__name {
    display:none;
  }

  .profile-menu {
    width: 300px;
  }

  .profile-menu__username {
    font-size: 1.1rem;
  }

  .profile-menu__icon-container {
    min-width: 35px;
    height: 35px;
  }

  .profile-menu__icon {
    font-size: 1.1rem;
  }

  .profile-menu__text {
    font-size: 1.1rem;
  }

  .profile-menu__arrow {
    font-size: 1.5rem;
  }

  .container-resumen {
    margin-bottom: 0;
  }

  .movimiento-resumen__icono {
    font-size: 1.8rem;
  }

  .movimiento-resumen__titulo {
    font-size: 1rem;
  }

  .movimiento-resumen__monto {
    font-size: 1.3rem;
  }

  .tile {
    padding: 15px;
  }

  .tile__icon-box{ 
    width: 48px;
    height: 48px;
  }

  .tile__title {
    font-size: 1.1rem;
  }

  .tile__description  {
    font-size: 0.9rem;
  }

  .tile__monto {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {

  .container {
    padding: 10px;
  }

  .branding__image--header {
    width: 35px;
    height: 35px;
  }

  .branding__title--header {
    font-size: 1rem;
    line-height: 20px;
  }

  .profile__avatar {
    width: 40px;
    height: 40px;
  }

  .section-header__title {
    font-size: 20px;
  }

  .section-header__description {
    font-size: 14px;
  }

  .movimiento-resumen {
    padding: 10px;
  }

  .movimiento-resumen__icono {
    font-size: 1.3rem;
  }

  .movimiento-resumen__titulo {
    font-size: 0.9rem;
  }

  .movimiento-resumen__monto {
    font-size: 1rem;
  }

  .tile {
    padding: 12px;
  }

  .tile__info {
    width: 50%;
  }

  .tile__icon-box{ 
    width: 45px;
    height: 40px;
  }

  .tile__icon {
    font-size: 20px;
  }

  .tile__title {
    font-size: 1rem;
  }

  .tile__description  {
    font-size: 0.7rem;
  }

  .tile__monto {
    font-size: 1rem;
  }

  .switch-filtro__name {
    font-size: 11px;
    padding: 5px 13px;
  }

  .modal-header {
    height: 60px;
  }

  .modal-header__title {
    font-size: 20px;
  }

  .nuevo {
    width: 50px;
    height: 50px;
    bottom: 1rem;
    right: 1rem;
  }

  .info-user-card__title  {
    font-size: 1.3rem;
  }

  .info-user-card__text {
    font-size: 0.8rem;
  }

  .form--profile .form__label {
    font-size: 1rem;
  }

  .form__row {
    flex-direction: column;
  }

  .form__button {
    font-size: 1rem;
    width: 220px;
  }

  .modal-body {
    overflow-y: scroll;
    max-height: 550px;
  }

  .meta__title {
    font-size: 1.1rem;
    padding: 10px 15px;
  }

  .meta__monto{
    font-size: 1.1rem;
  }

  .meta__text {
    font-size: 1rem;
  }

  .meta__row--flexible {
    padding: 8px;
    font-size: 0.9rem;
  }

  .meta__ahorrado {
    font-size: 1.1rem;
  }

  .metas-container {
    gap: 30px;
  }

  .boton--grande {
    height: 70px;
  }

  .container-resumen-calendario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .fc .fc-toolbar-title {
    font-size: 1.4rem;
  }
  
  .fc .fc-button {
    font-size: 0.8em;
  }

  .calendario {
    margin-bottom: 10px;
  }
}

@media (max-width: 550px) { 

  .form__label {
    font-size: 0.8rem;
  }

  .form__input {
    padding: 6px;
    font-size: 0.8rem;
  }

  .form__field {
    overflow: hidden; 
  }

  .error::after {
    font-size: 0.6rem;
  }

  .boton {
    font-size: 0.9rem;
    padding: 2px 8px;
    min-width: 90px;
    min-height: 30px;
  }

  .cant-aportes {
    height: 20px;
    line-height: 20px;
  }

  .fc table {
    font-size: 0.8em;
  }
}

@media (max-width: 470px)  {

  .fc .fc-toolbar-title {
    font-size: 1rem;
  }

  .informacion-calendario {
    padding: 0;
  }
  
  .fc .fc-button {
    font-size: 0.5em;
  }
}