<nav class="sidebar-nav" aria-label="Navegación principal">
    <ul class="sidebar-items">
        <li>
            <a href="#/admin/inicio" class="sidebar-items__item sidebar-items__item--inicio">
                <i class="ri-home-3-line sidebar-items__icon"></i>
                <span class="sidebar-items__texto">Inicio</span>
            </a>
        </li>
        
        <li>
            <a href="#/admin/usuarios" class="sidebar-items__item">
            <i class="ri-bar-chart-box-line sidebar-items__icon"></i>
            <span class="sidebar-items__texto">Usuarios</span>
            </a>
        </li>
    </ul>

    <div class="sidebar-role">
        <p>Administrador</p>
    </div>
</nav>