<div class="modal-header">
  <h2 class="modal-header__title">Editar Tipo de Movimiento</h2>
  <div class="modal-exit modal-exit--tipos">
    <i class="ri-close-fill modal-exit__icon"></i>
  </div>
</div>

<div class="modal-body">
  <form class="form form--modal" id="form-editarTipo" novalidate autocomplete="off">
    <div class="form__row">
      <div class="form__field">
        <label class="form__label">Nombre del tipo:</label>
        <input type="text" class="form__input" name="nombre" required id="nombreTipo">
      </div>
      <div class="form__field">
        <label class="form__label">Icono (clase de remix Icon):</label>
        <input type="text" class="form__input" name="icono" required id="claseIconoTipo">
      </div>
    </div>
    
    <div class="form__row">
      <div class="form__field">
        <label class="form__label">Color:</label>
        <input type="color" class="form__input form__input--color" name="color" required id="colorTipo">
      </div>
      <div class="form__field">
        <label class="form__label">Color fondo:</label>
        <input type="color" class="form__input form__input--color" name="color_bg" required id="colorBgTipo">
      </div>
    </div>

    <div class="form__buttons">
      <button class="boton boton--verde" id="btnEditarTipo">Guardar</button>
    </div>
  </form>
</div>