<div class="header-content">
  <div class="branding branding--header">
    <img src="./public/img/logo-proyecto-color.png" alt="Logo Whealthy" class="branding__image branding__image--header">
    <p class="branding__title branding__title--header">whealthy wellness</p>
  </div>

  <div class="profile">
    <span class="profile__name">Usuario</span>
    <label for="profile-menu-toggle" class="profile__avatar">
      <img src="img/perfil.png" alt="Perfil" class="profile__avatar-image">
    </label>
    <input type="checkbox" class="profile__toggle" id="profile-menu-toggle">
    <div class="profile-menu">
      <div class="profile-menu__info">
        <img src="img/perfil.png" alt="Foto perfil" class="profile-menu__avatar">
        <div class="profile-menu__details">
          <h3 class="profile-menu__username">Usuario</h3>
          <a href="#/perfil" class="profile-menu__link">See your profile</a>
        </div>
      </div>
      <hr class="profile-menu__divider">
      <a href="#/login" class="profile-menu__logout">
        <span class="profile-menu__icon-container">
          <i class="ri-logout-box-r-line profile-menu__icon"></i>
        </span>
        <p class="profile-menu__text">Cerrar Sesión</p>
        <span class="profile-menu__arrow">></span>
      </a>
    </div>
  </div>
</div>