<div class="admin-info-card admin-info-card--usuarios">
    <div class="admin-info-card__content">
        <div class="admin-info-card__box-icon">
            <i class="ri-group-line admin-info-card__icon"></i>
        </div>
        <h3 class="admin-info-card__titulo">Usuarios</h3>
        <p class="admin-info-card__valor">120</p>
        <span class="admin-info-card__desc">Registrados en la plataforma</span>
    </div>
</div>
<div class="admin-info-card admin-info-card--usuarios">
    <div class="admin-info-card__content">
        <div class="admin-info-card__box-icon">
            <i class="ri-group-line admin-info-card__icon"></i>
        </div>
        <h3 class="admin-info-card__titulo">Movimientos</h3>
        <p class="admin-info-card__valor">2.560</p>
        <span class="admin-info-card__desc">Ingresos y gastos totales</span>
    </div>
</div>
<div class="admin-info-card admin-info-card--usuarios">
    <div class="admin-info-card__content">
        <div class="admin-info-card__box-icon">
            <i class="ri-group-line admin-info-card__icon"></i>
        </div>
        <h3 class="admin-info-card__titulo">Metas</h3>
        <p class="admin-info-card__valor">85</p>
        <span class="admin-info-card__desc">Metas activas creadas</span>
    </div>
</div>
<div class="admin-info-card admin-info-card--usuarios">
    <div class="admin-info-card__content">
        <div class="admin-info-card__box-icon">
            <i class="ri-group-line admin-info-card__icon"></i>
        </div>
        <h3 class="admin-info-card__titulo">Aportes</h3>
        <p class="admin-info-card__valor">200</p>
        <span class="admin-info-card__desc">En contribuciones a metas</span>
    </div>
</div>