<div class="movimiento-resumen movimiento-resumen--ingresos">
  <i class="ri-arrow-up-circle-line movimiento-resumen__icono"></i>
  <div class="movimiento-resumen__info">
    <h3 class="movimiento-resumen__titulo">Ingresos</h3>
    <p class="movimiento-resumen__monto">$1.500.000</p>
  </div>
</div>
<div class="movimiento-resumen movimiento-resumen--ingresos">
  <i class="ri-arrow-up-circle-line movimiento-resumen__icono"></i>
  <div class="movimiento-resumen__info">
    <h3 class="movimiento-resumen__titulo">Ingresos</h3>
    <p class="movimiento-resumen__monto">$1.500.000</p>
  </div>
</div>
<div class="movimiento-resumen movimiento-resumen--ingresos">
  <i class="ri-arrow-up-circle-line movimiento-resumen__icono"></i>
  <div class="movimiento-resumen__info">
    <h3 class="movimiento-resumen__titulo">Ingresos</h3>
    <p class="movimiento-resumen__monto">$1.500.000</p>
  </div>
</div>
<div class="movimiento-resumen movimiento-resumen--ingresos">
  <i class="ri-arrow-up-circle-line movimiento-resumen__icono"></i>
  <div class="movimiento-resumen__info">
    <h3 class="movimiento-resumen__titulo">Ingresos</h3>
    <p class="movimiento-resumen__monto">$1.500.000</p>
  </div>
</div>