<div class="switch-filtro">
    <input type="radio" name="radio-switch" id="radio-switch-ingresos" class="switch-filtro__radio switch-filtro__radio--ingresos" checked>
    <label class="switch-filtro__name switch-filtro__name--ingresos" for="radio-switch-ingresos">Ingresos</label>
    
    <input type="radio" name="radio-switch" id="radio-switch-gastos" class="switch-filtro__radio switch-filtro__radio--gastos">
    <label class="switch-filtro__name switch-filtro__name--gastos" for="radio-switch-gastos">Gastos</label>

    <input type="radio" name="radio-switch" id="radio-switch-metas" class="switch-filtro__radio switch-filtro__radio--metas">
    <label class="switch-filtro__name switch-filtro__name--metas" for="radio-switch-metas">Metas</label>
</div> 