<table class="tabla">
    <thead class="tabla__header">
        <tr>
            <th class="tabla__celda tabla__celda--header">ID</th>
            <th class="tabla__celda tabla__celda--header">Rol</th>
            <th class="tabla__celda tabla__celda--header">Nombre</th>
            <th class="tabla__celda tabla__celda--header">Apellido</th>
            <th class="tabla__celda tabla__celda--header">Correo</th>
            <th class="tabla__celda tabla__celda--header">Contraseña</th>
            <th class="tabla__celda tabla__celda--header">Genero</th>
            <th class="tabla__celda tabla__celda--header">Ciudad</th>
            <th class="tabla__celda tabla__celda--header">Estado</th>
            <th class="tabla__celda tabla__celda--header">Editar</th>
            <th class="tabla__celda tabla__celda--header">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tabla__celda">1</td>
            <td class="tabla__celda">Administrador</td>
            <td class="tabla__celda">Breyner</td>
            <td class="tabla__celda">Acosta</td>
            <td class="tabla__celda">breyneracosta7@gmail.com</td>
            <td class="tabla__celda">******</td>
            <td class="tabla__celda">Masculino</td>
            <td class="tabla__celda">Bucaramanga</td>
            <td class="tabla__celda">Activo</td>
            <td class="tabla__celda">
                <button type="button" class="boton boton--azul editarUsuario">Editar</button>
            </td>
            <td class="tabla__celda">
                <button type="button" class="boton boton--rojo">Eliminar</button>
            </td>
        </tr>
        <tr>
            <td class="tabla__celda">1</td>
            <td class="tabla__celda">Administrador</td>
            <td class="tabla__celda">Breyner</td>
            <td class="tabla__celda">Acosta</td>
            <td class="tabla__celda">breyneracosta7@gmail.com</td>
            <td class="tabla__celda">******</td>
            <td class="tabla__celda">Masculino</td>
            <td class="tabla__celda">Bucaramanga</td>
            <td class="tabla__celda">Activo</td>
            <td class="tabla__celda">
                <button type="button" class="boton boton--azul editarUsuario">Editar</button>
            </td>
            <td class="tabla__celda">
                <button type="button" class="boton boton--rojo">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>