<div class="modal-header">
  <h2 class="modal-header__title">Editar Género</h2>
  <div class="modal-exit modal-exit--generos">
    <i class="ri-close-fill modal-exit__icon"></i>
  </div>
</div>

<div class="modal-body">
  <form class="form form--modal" id="form-editarGenero" novalidate autocomplete="off">
    <div class="form__row">
      <div class="form__field">
        <label class="form__label">Nombre:</label>
        <input type="text" class="form__input" name="nombre" required id="nombreGenero">
      </div>
    </div>

    <div class="form__buttons">
      <button class="boton boton--verde" id="btnEditarGenero">Guardar</button>
    </div>
  </form>
</div>