<section class="container container-inicio">

     <button class="nuevo" id="nuevoMovimiento"> 
        <i class="ri-add-line nuevo__icono"></i>
    </button>

    <div class="section-header">
        <h1 class="section-header__title">Inicio</h1>
        <p class="section-header__description">Apartado para visualizar balance y movimientos.</p>
    </div>

    <div class="container-resumen">

    </div>

    <div class="container-switch">

        <!-- <div class="switch-filtro">
            <input type="radio" name="radio-switch" id="radio-switch-ingresos" class="switch-filtro__radio switch-filtro__radio--ingresos" checked>
            <label class="switch-filtro__name switch-filtro__name--ingresos" for="radio-switch-ingresos">Ingresos</label>
            
            <input type="radio" name="radio-switch" id="radio-switch-gastos" class="switch-filtro__radio switch-filtro__radio--gastos">
            <label class="switch-filtro__name switch-filtro__name--gastos" for="radio-switch-gastos">Gastos</label>
    
            <input type="radio" name="radio-switch" id="radio-switch-metas" class="switch-filtro__radio switch-filtro__radio--metas">
            <label class="switch-filtro__name switch-filtro__name--metas" for="radio-switch-metas">Metas</label>
        </div>  -->
    </div>

    <div class="tile-container">

    </div>
</section>